.about-container {
    max-width: 548px;
    transition: .3s ease-in-out;
}

.about-container h2 {
    color: #216869;
    font-weight: 700;
}

.about-container p {
    color: #CBCBCB;
}

.aboutPhoto {
    width: 400px;
}