* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bg {
    background-color: #000000;
    z-index: 1000;
}

.my-logo {
    padding: 0;
}

.text-hover {
    font-weight: 700;
    color: #CBCBCB;
    transition: .3s ease-in-out;
}

.text-hover:hover, .text-hover:focus {
    color: #fff;
    transform: translateX(2px);
}