* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bg {
    background-color: #000000;
    z-index: 1000;
}

.my-logo {
    padding: 0;
    width: 145px;
}

.text-hover {
    font-weight: 500;
    color: #CBCBCB;
    transition: .3s ease-in-out;
}

.text-hover:hover {
    font-weight: 800;
    color: #216869;
}